.content
  .col-md-12
    .panel
      .panel-body
        .viewcode-example
          %form.simple-form{:novalidate => "novalidate"}
            %fieldset
              %legend.section
                %h5
                  %i.icon-note
                  %strong General
                  %strong.pull-right.make-red * Required
              .control-group
                %label.control-label.make-red Number Type
                %select.form-control.input-sm{'ng-model' => 'requestControl.params.number_type', 'ng-options' => 'numberType.type for numberType in requestControl.numberTypes', 'data-placeholder' => 'Select a Number Type', :chosen => ''}
                  %option

              %br

              .control-group
                %label.control-label.make-red Area Code
                .controls.form-group
                  %input.form-control.input-sm{'ng-model' => 'requestControl.params.area_code', :type => 'text', :placeholder => 'Ex: 319'}

              .control-group
                %label.control-label Redirect Number
                .controls.form-group
                  %input.form-control.input-sm{'ng-model' => 'requestControl.params.redirect_number', :type => 'text', :placeholder => 'Ex: 4625556666'}

              .control-group
                %label.label-control Phone Number is Active?
                %br
                .input-group-btn
                  %button.btn.btn-success.btn-sm{'ng-if' => 'requestControl.params.active === true', 'ng-click' => 'requestControl.updateActive(true)'} Yes
                  %button.btn.btn-default.btn-sm{'ng-if' => 'requestControl.params.active === false', 'ng-click' => 'requestControl.updateActive(true)'} Yes
                  %button.btn.btn-default.btn-sm{'ng-if' => 'requestControl.params.active === true', 'ng-click' => 'requestControl.updateActive(false)'} No
                  %button.btn.btn-success.btn-sm{'ng-if' => 'requestControl.params.active === false', 'ng-click' => 'requestControl.updateActive(false)'} No

            %br

            %fieldset
              %legend.section
                %h5
                  %i.icon-pencil
                  %strong Campaign
              .control-group
                %label.control-label.make-red Name
                .controls.form-group
                  %input.form-control{'ng-model' => 'requestControl.params.campaign_name', :type => 'text', :placeholder => 'Ex: My Campaign Name'}

            .form-actions
              %p
                .btn-group.no-margin{style: "float: right;"}
                  %button.btn.btn-sm.btn-default{"ng-click" => "requestControl.cancel()", :type => "button", :value => "Cancel"} Cancel
                  %button.btn.btn-sm.btn-success{"ng-click" => "requestControl.paramsVerify()", :type => "submit", :value => "Create Phone Number"} Create Phone Number

